<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/transferencias">Banco</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="fondo collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="justify-content-center navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/transferencias/nuevo-destinatario"
            >Nuevo Destinatario</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/transferencias/realizar-transferencia"
            >Transferir</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/transferencias/historial-transferencias"
            >Historial</a
          >
        </li>
      </ul>
      <button class="btn btn-outline-primary" (click)="logout()" href="#!">
        Cerrar Sesion
      </button>
    </div>
  </div>
</nav>
