<div class="container">
  <div class="row mb-5">
    <h1>Nuevo destinatario</h1>
  </div>
  <form [formGroup]="destinatarioForm" (ngSubmit)="create()" autocomplete="off">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <label for="rut" class="form-label">RUT:</label>
        <input
          type="text"
          class="form-control"
          id="rut"
          formControlName="rut"
          placeholder="Ingrese su rut sin puntos y con guion:  xxxxxxxx-x"
        />
        <span
          *ngIf="
            destinatarioForm.controls.rut.errors &&
            destinatarioForm.controls.rut.touched
          "
          class="form-text text-danger"
        >
          El el formato del rut debe ser sin puntos y con guion: xxxxxxxx-x
        </span>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          formControlName="nombre"
          placeholder="Ingrese nombre..."
        />
        <span
          *ngIf="
            destinatarioForm.controls.nombre.errors &&
            destinatarioForm.controls.nombre.touched
          "
          class="form-text text-danger"
        >
          El campo nombre es requerido
        </span>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="email" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Ingrese Correo electronico"
        />
        <span
          *ngIf="
            destinatarioForm.controls.email.errors &&
            destinatarioForm.controls.email.touched
          "
          class="form-text text-danger"
        >
          El campo correo es requerido
        </span>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="telefono" class="form-label">Telefono:</label>
        <input
          type="number"
          class="form-control"
          id="telefono"
          name="telefono"
          formControlName="telefono"
          placeholder="Ingrese numero de telefono..."
        />
        <span
          *ngIf="
            destinatarioForm.controls.telefono.errors &&
            destinatarioForm.controls.telefono.touched
          "
          class="form-text text-danger"
        >
          El campo telefono es requerido
        </span>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="banco" class="form-label">Banco:</label>
        <select
          ([ngModel])="(bankSelected)"
          class="form-select form-select mb-3"
          aria-label=".form-select-lg example"
          id="banco"
          formControlName="banco_destino"
        >
          <option *ngFor="let bank of banks" [value]="bank.name">
            {{ bank.name }}
          </option>
        </select>
        <span
          *ngIf="
            destinatarioForm.controls.banco_destino.errors &&
            destinatarioForm.controls.banco_destino.touched
          "
          class="form-text text-danger"
        >
          El campo banco es requerido
        </span>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="cuenta" class="form-label">Tipo de Cuenta:</label>
        <select
          ([ngModel])="(cuentaSelected)"
          class="form-select form-select mb-3"
          aria-label=".form-select-lg example"
          id="cuenta"
          formControlName="tipo_cuenta"
        >
          <option *ngFor="let cuenta of cuentas" [value]="cuenta">
            {{ cuenta }}
          </option>
        </select>
        <span
          *ngIf="
            destinatarioForm.controls.tipo_cuenta.errors &&
            destinatarioForm.controls.tipo_cuenta.touched
          "
          class="form-text text-danger"
        >
          El campo cuenta es requerido
        </span>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="numero_cuenta" class="form-label">N° de Cuenta:</label>
        <input
          type="text"
          class="form-control"
          id="numero_cuenta"
          name="numero_cuenta"
          formControlName="numero_cuenta"
          placeholder="Ingrese El numero de cuenta del destinatario"
        />
        <span
          *ngIf="
            destinatarioForm.controls.numero_cuenta.errors &&
            destinatarioForm.controls.numero_cuenta.touched
          "
          class="form-text text-danger"
        >
          El Numero de la cuenta es requerido
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <button
          [disabled]="destinatarioForm.invalid"
          class="btn btn-primary btn-lg"
          type="submit"
        >
          Crear
        </button>
      </div>
    </div>
  </form>
</div>
